<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script defer src="/js/application.js"></script>

      <title>Jobble</title>
  </head>
  <body>
      <header role="banner" class="header">
              <nav class="navigation">


              

                  {{#if user}}
                  <p>Welcome {{user._id}}</p>
                  
                  <a href="/login/logout">logout</a>
                  {{/if}}
                
                    <a href="/entries">home</a>

              </nav>
              <div class = "logo"> <h1 class = "jobble">JOBBLE</h1>
              <p>Your best interview practice</p></div>
      </header>
        <div class = "mainerBlock">
          

            {{{body}}}
          
          </div>
          </body>
        </body>
</html>
