<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script defer src="/js/application.js"></script>

      <title>Jobber</title>
  </head>
  <body>
      <header role="banner" class="header">
              <nav class="navigation">


              

                  {{#if user}}
                  {{user.login}}
                  <a href="/login/logout">logout</a>
                  {{/if}}
                  <ul>
                    <a href="/reg">Registration</a>  
                    <a href="/login">Login</a> 
                    <a href="/entries">home</a>
                    </ul>
              </nav>
      </header>
        <div class = "mainerBlock">
          <div class = "wrapper">

            {{{body}}}
          </div>
          </div>
          </body>
        </body>
</html>
