<h1></h1>

{{#if errors}}
    <span>Something went wrong:</span>
    <ul class="error-list pad-b-2">
        {{#each errors as |error|}}
            <li class="error-item">{{error}}</li>
        {{/each}}
    </ul>
{{/if}}

<form action="/entries/{{url}}/{{post.id}}" method="POST">
  <input type="hidden" name="_method" value="post">


  <label for="body-textarea" class="block mar-b-1">Body:</label>
  <textarea id="body-textarea" name="body" tabindex="2" class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2">{{post.body}}</textarea>

  <input type="submit" value="Update" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
