<div class = "wrapperMain">
<div class = "super">
  <div class = "aboutCompany">
<a class = "digitalHref" href="/entries/new">ADD NEW</a>
</div>
<form id="seachForm" action="">
    <input id="seachInp" type="text" name="company" value="" placeholder="company">
    <button id="seachButt">Seach</button>
  </form>
</div> 
 

<main role="main" >
  <ul class="bullet">
    {{#each company}}
      <li class="AllCompany">
        <a href="/entries/{{id}}">{{name}}</a>
        {{!-- <span class="entry-date block font-3-4 c-lt-gray">Written on </span>
          <p class="entry-stub">11111</p> --}}
      </li>
    {{/each}}
  </ul>
</main>
</div>
