<form action="/login/log" method="POST">
  <input type="login" name="login" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"/>
    <input type="email" name="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"/>
    <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"/>

    {{#if error }}
        <p>{{error}}</p>
    {{/if}}

    <input type="submit" value="Войти" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</form>
