
<img class = "apple" src = "https://cdn1.radikalno.ru/uploads/2020/6/26/125a862bc04a271f85a57beb38b82592-full.png">
<div class = "start">
<a class = "digitalHref" href="/login/reg">Регистрация</a>  
<a class = "digitalHref" href="/login/log">Войти</a> 
</div>
<p class ="startText">Your best interview practice</p>
